<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
      necessitatibus quod, hic minima cum alias dolorem ex animi rerum commodi
      inventore quaerat ducimus dicta voluptate nemo blanditiis unde optio
      dolore?
    </p>
  </header>
</section>

<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
      necessitatibus quod, hic minima cum alias dolorem ex animi rerum commodi
      inventore quaerat ducimus dicta voluptate nemo blanditiis unde optio
      dolore?
    </p>
  </div>
</section>
