<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting $9 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga fugit optio
      laudantium eum nam accusantium inventore doloremque. Labore, vero magnam.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Text Holder" />
    <button class="button button--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      search
    </button>
  </div>
  <ul class="list block-domine__price">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
  </ul>
</section>
