<div class="media">
  <div class="media__image">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Update</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora odit,
      sint sit, eveniet sunt excepturi officia voluptatibus debitis adipisci
      eligendi saepe expedita atque labore. Inventore unde aperiam corporis
      omnis voluptates, mollitia tempora at illum amet distinctio. Id sint odit,
      repellendus voluptas, deserunt ut, quas similique quo eveniet architecto
      corporis vitae.
    </p>
  </div>
</div>
